body {
text-align: center;
font-size:2vh;


}
.Creeper {
display:flex;
justify-content:center;
}
h1 {
    color:green;
    text-decoration-line: underline;
    font-size:3em

}
h2 {
font-size:2em;
}

.Creeper_bild {
    justify-content: center;
}
h6 {
font-size:2vh;
border:4px solid;
margin-left: 10em;
margin-right: 10em;
border-color: yellow;
background-color: yellow;
}
img {
border:   solid;
border-radius:5em;
border-width:3px ;
border-color:cyan ;
}